/* ---- reset ---- */


body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
   background-image: url(party2.jpeg) ;
   overflow: hidden;
      background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
      background-color: #999;
}
footer {
    /* just for demo */
    color : white;
    background-color: black;
    text-align:center;
    padding: 5px;
   /* just for demo */ 
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.overlay {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: rgba(0,0,0,0.3);
  display: block;
  position: absolute;
  top:45%;
  left:50%;
  transform: translate(-50%,-50%);
  cursor : pointer ;
}
h1 strong{
  font-weight: 400;
  color: white;
  text-shadow: 0 0 20px black;
  text-transform: uppercase;
}

.overlay:hover {
  color: #000;
  box-shadow: 0 22px 22px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
}

.overlay:focus,
.overlay:active {
  box-shadow: 0 17px 17px -15px rgba(42,51,59,0.7), inset 0 -3px rgba(42,51,59,0.4);
}

.overlay h1 {
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font: helvetica;
}
#rdv {
  padding-top: 0px;
}

.overlay p{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 20px;
}

.overlay a {
  color: #fff;
}

.orange {
  text-decoration: none;
}
/* timer */
 p a.orange {
   color: #f27950;
 }



#timer {
  font-size: 7em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px ;
}
#timer div {
  display: inline-block;
margin-left: 25px;
}
#timer div span {
  color: white;
  font-size: .35em;
  font-weight: 400;
}

